---
---

@import "{{ site.theme }}";
:root {
    --highlight: #FF4500;
    --compliment: #FF6A33;
}

body {
    font-size: 18px;
}

h1, site-title {
    text-transform: capitalize;
}

a {
    color: #ff4500;
}

li a {
    line-height: 1.7;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    font-size: 12px;
    line-height: 1.25;
    align-items: center;
}
.tags ul {
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    margin: 0;
}
.tags ul li {
    display: inline;
}
.main-article {
    margin-top: 24px;
}
.tag-heading:target {
    text-decoration: underline;
    color: var(--compliment);
}