<div class="max-w-5xl mx-auto relative mt-16 content">
    {{ svg src="/assets/site/scratches" class="absolute text-gray-800 mt-8 top-0 left-0 w-20 hidden md:block" }}
    <article class="lg:py-32 max-w-2xl mx-auto">
        <h1>{{ title }}</h1>
        <div class="bg-gray-800 inline-block text-sm mb-16 pr-4 pl-16 -ml-16 uppercase tracking-widest text-white py-1 rounded-r-full">
            Published
            {{ if topics }}
                in {{ topics }}<a href="{{ url }}" class="text-teal-light no-underline hover:text-white">{{ title }}</a>{{ unless last }}, {{ /unless }}{{ /topics }}
            {{ /if }}
            on {{ date format="M j, Y" }}
        </div>
        <section class="content content--intro">
            {{ content | widont }}
        </section>
        <section id="recipe" class="recipe content">
            {{ if ingredients_sections }}
                <h2>Ingredients</h2>
                {{ ingredients_sections }}
                    <h3>{{ title }}</h3>
                    <ul>
                        {{ items }}
                            <li>{{ value }}</li>
                        {{ /items }}
                    </ul>
                {{ /ingredients_sections }}
            {{ /if }}
            {{ if method }}
                <h2>Method</h2>
                <ol class="recipe__method ml-6">
                    {{ method }}
                        <li class="recipe__step content marker:!text-xl marker:!font-semibold">
                            {{ step }}
                        </li>
                    {{ /method }}
                </ol>
            {{ /if }}
        </section>
    </article>
</div>
